* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #9181be 0%, #95d1f1 100%);
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centering the content vertically */
}

.App {
  width: 80%; /* Increased width for better readability */
  text-align: center;
  margin: 0 auto; /* Centering the container horizontally */
}

.heading {
  font-size: 2.5rem; /* Increased font size for emphasis */
  margin-bottom: 1.5rem; /* Added some spacing between heading and paragraph */
}

.para {
  font-size: 1.6rem;
  margin-bottom: 2rem; /* Increased margin for better separation */
}

.inp-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.inp,
button {
  padding: 10px 20px; /* Increased padding for better visual appeal */
  font-size: 1.4rem;
  border-radius: 8px;
}

.inp {
  width: 100px; /* Adjusted input box width for better alignment */
}

button {
  background-color: #3bd4bf;
  color: #fff;
  border: none;
  margin-left: 10px; /* Added margin for better spacing between input and button */
}

.para1 {
  color: #444;
  line-height: 1.6;
}
